{% extends "users/base.html" %}
{% block content %}
<form method="POST" action="{{ url_for( 'create_user' ) }}">
  <h1>Create a New User</h1>
    <div>
      <label for="first_name" >First Name</label>
      <input name="first_name" type="text" >
    </div>
    <div>
      <label for="last_name" name="last_name">Last Name</label>
      <input name= "last_name" type="text">
    </div>
    <div>
      <label for="username" name="username">User Name</label>
      <input name= "username" type="text">
    </div>
    <div>
      <label for="password" name="password">Password</label>
      <input name= "password" type="text">
    </div>
    <div>
        <label for="profile_picture">Profile Picture URL</label>
        <input name="profile_picture" type="text">
      </div>
      <button type='submit'>Submit</button>
  </form>
{% endblock %}